In [1]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

# School Summary

In [82]:
# # Calculate the total number of schools
school_count=school_data_df["School ID"].count()
total_students=school_data_df["size"].sum()
total_budget=school_data_df["budget"].sum()
average_m_score=student_data_df["math_score"].mean()
average_a_score=student_data_df["reading_score"].mean()
average_passing_rate=(student_data_df["math_score"].mean() + student_data_df["reading_score"].mean())/2
math_score_df=student_data_df["math_score"]>=70
reading_score_df=student_data_df["reading_score"]>=70
math_score1=math_score_df[math_score_df==True].count().sum()
reading_score1=reading_score_df[reading_score_df==True].count().sum()
math_score1=((math_score1)/(total_students).sum())*100
reading_score1=((reading_score1)/(total_students).sum())*100
district_summary_table=pd.DataFrame({"Total Schools":[school_count],
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score":[average_m_score],
                                    "Average Reading Score":[average_a_score],
                                     "% Passing Math":[math_score1],
                                     "% Passing Reading":[reading_score1],
                                    "% Overall Passing Rate":[average_passing_rate]})
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [83]:
final_df=school_data_complete_df

In [84]:
passing_in_math_df = school_data_complete_df[student_data_df["math_score"] > 70]

In [8]:
passing_in_reading_df = school_data_complete_df[student_data_df["reading_score"] > 70]

In [9]:
percent_math_df=passing_in_math_df["school_name"].value_counts()

In [44]:
percent_reading_df=passing_in_reading_df["school_name"].value_counts()

In [11]:
counts_school_data_df=school_data_complete_df["school_name"].value_counts()

In [12]:
students_passing_reading_by_school=(passing_in_reading_df.groupby("school_name").count()["Student ID"]/counts_school_data_df)*100
students_passing_reading_by_school_df=students_passing_reading_by_school

In [14]:
students_passing_math_by_school=(passing_in_math_df.groupby("school_name").count()["Student ID"]/counts_school_data_df)*100
students_passing_math_by_school_df=students_passing_math_by_school

In [64]:
ave_math=(passing_in_math_df.groupby("school_name").mean()["math_score"])
ave_reading=(passing_in_reading_df.groupby("school_name").mean()["reading_score"])

In [51]:
school_types = school_data_df.set_index(["school_name"])["type"]
# per_school_counts = school_data_complete["school_name"].value_counts()

In [57]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]/counts_school_data_df

In [66]:
overall_passing=(students_passing_reading_by_school+students_passing_math_by_school_df)/2
overall_passing

Bailey High School       71.965434
Cabrera High School      91.711518
Figueroa High School     71.091896
Ford High School         71.631982
Griffin High School      91.553134
Hernandez High School    71.467098
Holden High School       91.686183
Huang High School        71.066164
Johnson High School      71.067003
Pena High School         91.943867
Rodriguez High School    70.905226
Shelton High School      91.254969
Thomas High School       91.559633
Wilson High School       92.093736
Wright High School       91.861111
dtype: float64

# School Summary

In [67]:
dictionary = {"School Budget":per_school_budget,
              "Per Student Budget": per_student_budget,
             "School Type": school_types,
             "Size": counts_school_data_df,
             "Ave Math Score": ave_math,
            "Ave Reading Score": ave_reading,
             "Pass Math": students_passing_math_by_school_df,
             "Pass Reading": students_passing_reading_by_school,
             "Overall Passing": overall_passing}
dictionary
pd.DataFrame(dictionary)

,School Budget,Per Student Budget,School Type,Size,Ave Math Score,Ave Reading Score,Pass Math,Pass Reading,Overall Passing
Bailey High School,3124928.0,628.0,District,4976,84.965174,84.839331,64.630225,79.300643,71.965434
Cabrera High School,1081356.0,582.0,Charter,1858,84.686298,84.920872,89.558665,93.864370,91.711518
Figueroa High School,1884411.0,639.0,District,2949,84.813298,85.201902,63.750424,78.433367,71.091896
Ford High School,1763916.0,644.0,District,2739,84.716269,84.950071,65.753925,77.510040,71.631982
Griffin High School,917500.0,625.0,Charter,1468,84.984814,84.824945,89.713896,93.392371,91.553134
Hernandez High School,3022020.0,652.0,District,4635,85.399867,84.979305,64.746494,78.187702,71.467098
Holden High School,248087.0,581.0,Charter,427,85.351421,84.936869,90.632319,92.740047,91.686183
Huang High School,1910635.0,655.0,District,2917,84.772063,85.157895,63.318478,78.813850,71.066164
Johnson High School,3094650.0,650.0,District,4761,85.251645,84.972632,63.852132,78.281874,71.067003
Pena High School,585858.0,609.0,Charter,962,85.187075,85.276212,91.683992,92.203742,91.943867
Rodriguez High School,2547363.0,637.0,District,3999,84.854020,84.832100,64.066017,77.744436,70.905226
Shelton High School,1056600.0,600.0,Charter,1761,84.960202,84.864500,89.892107,92.617831,91.254969
Thomas High School,1043130.0,638.0,Charter,1635,84.989153,84.935484,90.214067,92.905199,91.559633
Wilson High School,1319574.0,578.0,Charter,2283,84.703757,85.038516,90.932983,93.254490,92.093736
Wright High School,1049400.0,583.0,Charter,1800,85.258462,84.970273,90.277778,93.444444,91.861111

# Top Performing Schools (By Passing Rate)

In [80]:
top_performers=pd.DataFrame(dictionary)
top_df=top_performers
top_df.sort_values(by='Overall Passing', ascending=False).head()

,School Budget,Per Student Budget,School Type,Size,Ave Math Score,Ave Reading Score,Pass Math,Pass Reading,Overall Passing
Wilson High School,1319574.0,578.0,Charter,2283,84.703757,85.038516,90.932983,93.254490,92.093736
Pena High School,585858.0,609.0,Charter,962,85.187075,85.276212,91.683992,92.203742,91.943867
Wright High School,1049400.0,583.0,Charter,1800,85.258462,84.970273,90.277778,93.444444,91.861111
Cabrera High School,1081356.0,582.0,Charter,1858,84.686298,84.920872,89.558665,93.864370,91.711518
Holden High School,248087.0,581.0,Charter,427,85.351421,84.936869,90.632319,92.740047,91.686183

# Bottom Performing Schools (By Passing Rate)

In [81]:
bottom_performers=pd.DataFrame(dictionary)
bottom_df=top_performers
bottom_df.sort_values(by='Overall Passing', ascending=True).head()

,School Budget,Per Student Budget,School Type,Size,Ave Math Score,Ave Reading Score,Pass Math,Pass Reading,Overall Passing
Rodriguez High School,2547363.0,637.0,District,3999,84.854020,84.832100,64.066017,77.744436,70.905226
Huang High School,1910635.0,655.0,District,2917,84.772063,85.157895,63.318478,78.813850,71.066164
Johnson High School,3094650.0,650.0,District,4761,85.251645,84.972632,63.852132,78.281874,71.067003
Figueroa High School,1884411.0,639.0,District,2949,84.813298,85.201902,63.750424,78.433367,71.091896
Hernandez High School,3022020.0,652.0,District,4635,85.399867,84.979305,64.746494,78.187702,71.467098